@media only screen and (max-width: 1200px) {
  .bootom__list {
    gap: 13px;
    display: flex;
    justify-content: space-evenly;
  }
  .series-a{
    width: 240px;
  }
}

@media only screen and (max-width: 1000px) {

  .series-a{
    width: 180px;
  }
  .menu__list {
    display: flex;
    gap: 75px;
  }
  .bottom__text-s{
    max-width: 200px;
  }
  .bottom__newcollect{
    margin-right: 280px;
  }
  .series__animal-list {
    flex-wrap: wrap;
}
.series__spacer-list{
  flex-wrap: wrap;
}
.series__dragonl-list{
  flex-wrap: wrap;
}
.series__oldtowns-list{
  flex-wrap: wrap;
}
.series__animal-item{
  padding-top: 25px;
}
.series__spacer-item{
  padding-top: 25px;
}
.series__dragonl-item{
  padding-top: 25px;
}
.series__oldtowns-item{
  padding-top: 25px;
}
.series__animal-list {
  margin-top: 0px;
}
.series__spacer-list {
  margin-top: 0px;
}
.series__dragonl-list {
  margin-top: 0px;
}
.series__oldtowns-list {
  margin-top: 0px;
}
}


@media only screen and (max-width: 800px) {
  .top-list{
    gap: 60px;
  }
  .menu__list {
    gap: 50px;
  }
  .series-a{
    width: 160px;
  }
  .bootom__list{
    gap: 0px;
    display: flex;
    justify-content: space-evenly;
  }
  .bottom__text-s{
    max-width: 140px;
  }
  .top__about{
  font-size: 54px;
  }
  .top__about-add{
    font-size: 40px;
  }
  .scrum{
    margin-right: 15px;
  }
  .bottom__newcollect{
    margin-right: 250px;
  }
}

@media only screen and (max-width: 730px) {
  .bottom__newcollect{
    font-size: 32px;
    margin-right: 190px;
  }
  .top-list {
    gap: 20px;
    justify-content: center;
    padding-left: 70px;
  }
  .header__title{
    justify-content: space-evenly;
  }
  .menu__list {
    gap: 32px;
  }
}

@media only screen and (max-width: 600px) {
  .footer__menu-link {
    font-size: 12px;
}
.footer__menu {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: 9px;
  flex-wrap: wrap;
}
.scrum {
  width: 280px;
}
.bootom__list {
  gap: 0px;
  display: flex;
  flex-wrap: wrap;
  max-width: 517px;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.title {
  font-size: 64px;
}
.top__about {
  font-size: 40px;
}
.top__about-add {
  font-size: 32px;
}
.top__link {
  font-size: 24px;
}
.menu__list-link{
  font-size: 24px;
}
.menu__list {
  gap: 19px;
  padding-right: 8px;
  padding-left: 9px;
}
.logo{
  width: 100px;
}
.bottom__newcollect {
  margin-right: 38px;
}
.footer__menu {
  align-items: center;
  text-align: center;
}
}

@media only screen and (max-width: 500px) {
  .top-list {
    flex-wrap: wrap;
}
.catalog-img{
width: 200px;
}
.series__b {
  display: flex;
  padding-left: 0px;
  justify-content: center;
}
.series__name {
  text-align: center;
  font-size: 20px;
}
.series__sol {
  font-size: 20px;
}
.series__buy {
  font-size: 20px;
}
}

@media only screen and (max-width: 425px) {
  .header__title {
    flex-wrap: wrap;
}
.container{
  width: 100%;
}
.footer__menu-list {
  padding-left: 33px;
}
.catalog-img{
  width: 140px;
  }
}
