
html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
html, body{
  height: 100%;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
figure{
  margin: 0;
  padding: 0;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body{
  background-color: #1D141D;
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  line-height: 1;
  background-image: url(../img/fin.png);
  background-repeat: no-repeat;
  background-position: top;
}
p{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container{
  max-width: 1200px;
  /* background-color: #35203b; */
  margin: 0 auto;
  padding: 0 0px;
}
:root{
  --white-color: #fff;
}
.text-a{
  font-family: 'Abel', sans-serif;
  font-size: 32;
}
.text-i{
  font-family: 'Iceland', cursive;
  font-size: 64;
}

.header {
  min-height: 104px;
}
.header__title {
  padding-top: 19px;
  padding-left: 8px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__list {
  display: flex;
  gap: 135px;
}
.menu__list-link {
  color: #fff;
  font-family: 'Abel', sans-serif;
  font-size: 32px;
}
.link1{
  border-bottom: 1px solid white;
}
.footer{
  margin-top: 30px;
  padding: 33px 0 33px;
  color: #fff;
}
.footer__menu-list{
  max-width: 230px;
}
.footer__menu{
  /* display: flex;
  justify-content: space-evenly;
  align-items: flex-start; */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: 50px;
}
.footer__menu-title{
  font-size: 16px;
  padding-bottom: 16px;
}
.footer__menu-link{
  font-size: 14px;
}
.footer__menu-item + .footer__menu-item{
  padding-top: 25px;
}
.logosm{
  padding-top: 0px;
  padding-bottom: 0px;
}
.l2{
  max-width: 170px;
}
.first{
  font-family: 'Iceland', cursive;
  font-size: 24px;
}
.main{
  flex-grow: 1;
}
.top{
  color:#805FDD;
  font-family: 'Iceland', cursive;
  opacity: .9;
  padding-bottom: 26px;
}
.title{
  /* padding-bottom: 14px; */
  font-size: 96px;
  margin-bottom: 0px;
}
.top__about{
  padding-bottom: 0px;
  margin-bottom: 28px;
  font-size: 64px;
  max-width: 450px;
}
.top__about-add{
  color: #805FDD;
  font-size: 48px;
  max-width: 350px;
  margin-bottom: 72px;
  opacity: .4;
}
.top__link{
  color: #fff;
  background-color: rgba(130, 53, 255, 0.15);
  border-radius: 25px;
  padding: 19px 44px;
  max-width: 230px;
  width: 100%;
  display: inline-block;
  font-size: 48px;
  margin-bottom: 40px;
}
.top-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 28px;
  padding-top: 13px;
  padding-left: 83px;
}
.bottom__newcollect{
  color:#805FDD;
  font-size: 48px;
  border-bottom: 1px solid #805FDD;
  font-family: 'Iceland', cursive;
  margin-left: 60px;
  padding-left: 59px;
  margin-right: 442px;
  margin-top: -35px;
  opacity: .8;
}
.bootom__list {
  display: flex;
  gap: 19px;
  color: #805FDD;
  font-size: 24px;
  margin-left: -26px;
  padding-top: 3px;
}
.bottom__text-a{
  color: #DD945F;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  margin-right: 8px;
  padding-bottom: 8px;
}
.bottom__text-s{
  color:#A200CA;
  font-family: 'Iceland', cursive;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  margin-right: 16px;
  padding-bottom: 8px;
}
.bottom__text-d{
  color:#5CBACE;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  margin-right: 14px;
  padding-bottom: 8px;
}
.bottom__text-o{
  color:#D6CDC2;
  font-family: 'Iceland', cursive;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  margin-right: 19px;
  padding-bottom: 8px;
}
.bottom{
  margin-bottom: -46px;
}
img {
  pointer-events: none;
}
.about{
  color:#fff;
  font-family: 'Iceland', cursive;
  font-size: 20px;
}
.about-us{
  font-size: 64px;
  padding-top: 24px;
  padding-left: 84px;
}
.about__p{
  max-width: 1100px;
  padding-top: 15px;
  padding-left: 85px;
}
.fi{
  margin-bottom: 18px;
}
.basket{
  background-image: url(../img/Rectangle55.png);
  background-repeat: no-repeat;
  background-position: top;
  padding-left: 71px;
  margin-top: 36px;
  color:#fff;
  font-family: 'Iceland', cursive;
  font-size: 24px;
  margin-bottom: -44px;
}
.basket__list{
  display: flex;
}
.basket__scrum-about{
  max-width: 344px;
  padding-top: 35px;
}
.basket__list-pay{
  background-image: url(../img/buybg.png);
  background-repeat: no-repeat;
  background-position: top;
  min-width: 240px;
  font-size: 32px;
  margin-left: 136px;
}
.basket__scrum{
  font-size: 48px;
}
.basket__list-scrum{
  padding-left: 89px;
}
.basket__limed{
  padding-top: 63px;
}
.basket__sicopy{
  padding-top: 12px;
}
.basket__list-sol{
  padding-left: 83px;
  padding-top: 37px;
}
.basket__list-eth{
  padding-left: 12px;
  padding-top: 38px;
}
.basket__list-btc{
  padding-left: 12px;
  padding-top: 38px;
}
.basket__list-usd{
  padding-left: 72px;
  padding-top: 40px;
}
.basket__list-buy{
  margin-top: 34px;
  padding-left: 88px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 88px;
  font-size: 36px;
  /* background: linear-gradient(0deg, rgba(52, 0, 93, 0.3), rgba(52, 0, 93, 0.8)); */
  /* background-color: rgba(52, 0, 93, 0.7); */
  border-radius: 50px;
  background: radial-gradient(circle,rgba(52, 0, 93, 0.8), rgba(52, 0, 93, 0.7));
  /* background-color: rgba(130, 53, 255, 0.15); */
  /* rgba(120, 12, 93, 1) */
  /* border-radius: 25px;
  padding: 19px 44px;
  max-width: 230px;
  width: 100%;
  display: inline-block;
  margin-bottom: 40px; */
}
.aboutproduct{
  color:#fff;
  font-family: 'Iceland', cursive;
  font-size: 20px;
  margin-bottom: -42px;
}
.aboutproduct__list{
  display: flex;
}
.aboutproduct__about-h1{
  font-size: 48px;
  margin-top: -22px;
  padding-left: 120px;
}
.aboutproduct__list-sol{
  font-size: 26px;
  padding: 10px;
  margin-left: 39px;
}
.aboutproduct__list-buy{
  font-size: 26px;
  background-color: rgba(52, 0, 93, 0.8);
  border-radius: 12px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
}
.aboutproduct__about{
  max-width: 818px;
  padding-left: 29px;
}
.aboutproduct__list-img{
  padding-top: 26px;
  margin-left: -10px;
}
.aboutproduct__list-b{
  display: flex;
}
.aboutproduct__about1{
  margin-top: -4px;
}
.aboutproduct__about2{
  margin-top: 12px;
}
.aboutproduct__about3{
  margin-top: 14px;
}
.aboutproduct__about4{
  margin-top: 10px;
}
.aboutproduct__about5{
  margin-top: 12px;
}
.aboutproduct__about6{
  margin-top: 10px;
}
.aboutproduct__about7{
  margin-top: 12px;
}
.aboutproduct__about8{
  margin-top: 14px;
}
